[Desktop Entry]
Name=WMAppl
Comment=Application launcher for the WM
Comment[pl]=Program do uruchamiania aplikacji dla WM
Exec=wmappl
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
Encoding=UTF-8
# vi: encoding=utf-8
